[Desktop Entry]
Name=Cells
GenericName=
Comment=
Exec=cells
Icon=cells
Type=Application
Categories=Utility;
Terminal=false
TerminalOptions=
MimeType=
StartupNotify=true
X-KDE-SubstituteUID=false
PrefersNonDefaultGPU=false
